// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letterh1{
   color:#E67817;
}
.colororange{
   color:#E67817;
}
.colorblue{
   color:#337ab7;
}
.colorred{
   color:#C70D12;
}
.colorblack{
   color:#000000;	
}
.colorbluesize{
   color:#337ab7;
   font-size: 28px;
};
