<!DOCTYPE html>
<html>
<head>
  <title>Generate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="app/assets/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="app/assets/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<%= yield %>

</body>
</html>
