<!DOCTYPE html>
<html>
<head>
  <title>Webchurchproyect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="images/favicon.ico">
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="/owl.carousel.css">
  <link rel="stylesheet" href="/camera.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<%= yield %>

</body>
</html>
